<div class="max-container">
    <h1>LoginComponent</h1>
    <p>
        The LoginComponent can be used to quickly add login functionality to the app.
        Simply add &lt;pdsb-login&gt;&lt;/pdsb-login&gt; to your login page, and subscribe
        to the <i>userSelected</i> subject in the AuthService.
    </p>
    <p>
        If the API endpoint is not /apiRoot/login, you can add text between apiRoot and login by
        settings the [urlPart] property
    </p>
    <pdsb-login></pdsb-login>
</div>
