div.header {
    background-color: #303030;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
div.content {
    position: fixed;
    top: 49px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}
@media print {
    div.header {
        display: none;
    }
    div.content {
        position: static;
        overflow: visible;
        width: 100%;
    }
}