<div style="text-align: center">
    <h1>PDSB-LIB Showcase</h1>

    <div style="display: inline-block;">
        <button
            mat-button
            color="primary"
            (click)="genericError()"
        >
            Generic error
        </button>
        
        <button
            mat-button
            color="accent"
            (click)="genericConfirm()"
        >
            Generic confirm
        </button>
        
        <button
            mat-button
            color="warn"
            (click)="genericChoice()"
        >
            Generic choice
        </button>
    </div>
    
    <pdsb-login></pdsb-login>
</div>


<router-outlet></router-outlet>