<div class="header">
    <div class="max-container">
        <div
            fxLayout="row"
            fxLayoutAlign="space-between center"
        >
            <nav mat-tab-nav-bar>
                <a  *ngFor="let page of pages"
                    #rla="routerLinkActive"
                    mat-tab-link
                    routerLinkActive
                    [routerLink]="page.url"
                    [routerLinkActiveOptions]="{exact: false}"
                    [active]="rla.isActive"
                >
                    {{ page.title | uppercase }}
                </a>
            </nav>
            <span class="f+">{{ title }}</span>
        </div>
    </div>
    <div class="position-absolute max-width" style="bottom: 0; border-bottom: 1px solid rgba(255, 255, 255, .12);"></div>
</div>

<div class="content">
    <router-outlet></router-outlet>
</div>